*.o
\#*#
*#
.#*
.*~
*~
.DS_Store
*.sw[po]
tags
TAGS
.ctags
Session.vim
.svn
*.dSYM
*.log
*.dvi
*.aux
*.elc
.zshrc.local
samples

# for vim
.vim/bundle/
.vim/.netrwhist
.vimrc_sample

# for vimperator
.vimperator/info/default/*
!.vimperator/info/default/quickmarks
.vimperator/plugin/

# for automation php unit test
/composer.json
/composer.lock
/composer.phar
/vendor/

# for aws
/.elasticbeanstalk/

# for rails (バッドノウハウかも)
/bin

# tmp directory
tmp
.rvmrc

/public/javascripts/*
/public/stylesheets/*

# drc (bad know-how)
/config/initializers/sidekiq.rb
