[user]
	name = kyohei hamada
	email = kyohei.hamada@gmail.com

[core]
	excludesfile = ~/.gitignore
	autocrlf = input
	editor = nvim
	quotepath = false
	pager = diff-highlight | less -r

[init]
	defaultBranch = main

[push]
	default = current
	autoSetupRemote = true

[pull]
	rebase = true

[fetch]
	prune = true

[rebase]
	autoStash = true

[merge]
	ff = false
	conflictstyle = zdiff3

[diff]
	algorithm = histogram
	colorMoved = default

[rerere]
	enabled = true

[branch]
	sort = -committerdate

[column]
	ui = auto

[alias]
	alias    = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort

	s   = status --short --branch
	st  = status

	ad  = add
	c   = commit
	cam = commit --amend

	co  = checkout
	sw  = switch
	cb  = switch -c
	cm  = switch main
	cd  = switch develop

	b   = branch
	ba  = branch -a
	bm  = branch --merged
	bn  = branch --no-merged
	bo  = branch -r

	ft  = fetch
	up  = pull
	so  = remote show origin

	rbc = rebase --continue
	rba = rebase --abort
	rbi = rebase -i

	mn  = merge --no-ff

	r    = restore --staged
	undo = reset HEAD~

	di  = diff
	dw  = diff --color-words
	dc  = diff --cached
	ds  = diff --staged
	dm  = diff main

	ss  = stash
	sp  = stash pop
	sl  = stash list

	ll  = log --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn%x09%Creset%s'
	lg  = log --graph --all --date=short --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)%an, %cr%Creset'
	la  = log --pretty=format:"%ad %h (%an): %s" --date=short
	ranking = shortlog -s -n --no-merges

	sm   = submodule
	gr   = grep -n
	chpk = cherry-pick

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
