*.o
\#*#
*#
.#*
.*~
*~
.DS_Store
*.sw[po]
Session.vim
.svn
*.dSYM
*.log
*.dvi
*.aux
*.elc
.zshrc.local
samples

# for vim
.vim/bundle/
.vim/.netrwhist
.vimrc_sample

# for vimperator
.vimperator/info/default/*
!.vimperator/info/default/quickmarks
.vimperator/plugin/

# for rbenv
.ruby-version

tags

# zsh
/.zsh/.zcompdump
/.zsh/.*.zwc
/.zsh/history/

/brew_info/
/cask_info/
/.ruby-version

/public/javascripts/cache_*.js
/public/stylesheets/cache_*.css


/.tmuxinator/*.yml
/.zsh/.zcompdump*
